body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 100vh;
    overflow: hidden;
    line-height: 0.1;
}
