
.code-block {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    max-width: 600px;
    line-height: 1.5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: "IBM Plex Mono", monospace;
}

.code-block h2 {
    margin-top: 0;
    color: #ffcc00;
}

.code-block p {
    color: #ccc;
}

.code-block a {
    color: #e46eff;
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
}

.code-block a:hover {
    text-decoration: underline;
    
}

.code-block-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 20%;
}

.code-block-heading p {
    color: #e46eff;
}

.code-block-heading a {
    color: #e46eff;
}

.code-block-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #444;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    height: 75%;
}

.code-block-body p {
    margin: 0;
    padding: 10px;
}

.spacer {
    height: 10px;
}

.full-height {
    height: 95%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.code-block-body-fh {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444;
    border-radius: inherit;
    height: 100%;
}

.continue-link {
    margin-top: 15px;
    color: #e46eff;
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    background-color: #333;
    padding: 10px 18px;
    border-radius: 6px;
}
